apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 10m
  chart:
    spec:
      chart: traefik
      version: "37.4.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system

  install:
    createNamespace: false

  values:
    deployment:
      replicas: 1

    service:
      enabled: true
#      type: LoadBalancer
#      annotations:
#        oci.oraclecloud.com/load-balancer-type: "nlb"
#        oci-network-load-balancer.oraclecloud.com/security-list-management-mode: "None"

#    ingressClass:
#      enabled: true
#      isDefaultClass: false
#      name: traefik

#    logs:
#      general:
#        level: INFO


        type: LoadBalancer
        loadBalancerIP: 129.151.207.53
        annotations:
          oci.oraclecloud.com/load-balancer-type: nlb 
          oci-network-load-balancer.oraclecloud.com/security-list-management-mode: "None"
        ports:
          http: 80
          https: 443 
      ports:
        http: 80
        https: 443 
    admissionWebhooks:
      enabled: false

