apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 10m
  chart:
    spec:
      chart: traefik
      version: "37.4.0"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: flux-system

  install:
    createNamespace: false

  values:
    deployment:
      replicas: 1

    service:
      enabled: true
      type: LoadBalancer
      annotations:
        oci.oraclecloud.com/load-balancer-type: "nlb"
        oci-network-load-balancer.oraclecloud.com/internal: "false"
      spec:
        externalTrafficPolicy: Local

    ports:
      web:
        port: 80
        expose:
          default: true
      websecure:
        port: 443
        expose:
          default: true

